<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
var data = getJson()
console.log(data)

var convJson =  JSON.parse(data)
console.log(convJson)

var convStr = JSON.stringify(convJson)
console.log(convStr)



    function getJson()
    {
    var json=[{"name":"Apple","color":"red","number":12,"fruit":"true","veg":"false"},
              {"name":"carrot","color":"orange","number":20,"fruit":"false","veg":"true"}]
    return JSON.stringify(json)
    }
</script>
</body>
</html>